// google font
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #959595;
}
